.cls-1,
.cls-8 {
  fill: none;
}

.light-silver-wheels {
  fill-rule: evenodd;
  fill: #b5b5b4;
}

.black-wheels {
  fill: #141414;
}

.silver-wheels {
  fill: #757575;
}

.silver-body {
  fill-rule: evenodd;
  fill: #757575;
}

.red-body {
  fill-rule: evenodd;
  fill: #b12b28;
}

.white-body {
  fill-rule: evenodd;
  fill: #eaebeb;
}

.blue-body {
  fill-rule: evenodd;
  fill: #387e9b;
}

.black-body {
  fill-rule: evenodd;
  fill: #141414;
  fill-opacity: 0.9;
}

.black-tint {
  fill-rule: evenodd;
  fill: #141414;
  fill-opacity: 0.9;
}

.white-tint {
  fill-rule: evenodd;
  fill: #eaebeb;
}

.silver-tint {
  fill-rule: evenodd;
  fill: #757575;
}

.cls-3,
.cls-4,
.cls-6 {
  fill-rule: evenodd;
}
.cls-3 {
  fill: #3b3b3b;
}
.cls-5 {
  fill: #b5b5b4;
}
.cls-4 {
  fill: #eaebeb;
}
.cls-6,
.cls-7 {
  fill: #3b3b3b;
}
.cls-8 {
  stroke: #000;
  stroke-width: 0.5px;
}

.cls-9 {
  fill: #eaebeb;
}

.cls-10 {
  fill-rule: evenodd;
  fill: #e6b219;
}
